@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-dark: #2d314d;
    --gray-light: #9698A6;
    --green: #31D35C;
    --teal: #2BB7DB;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
}
